<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- font awesome from BootstrapCDN -->
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

        <link href="/public/app.css" rel="stylesheet">
		<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
		<script type="text/javascript">
		  // This identifies your website in the createToken call below
		  Stripe.setPublishableKey('pk_test_NbTBHGO6gn4LqnxaVcGFJqGT');
		  // ...
		</script>
    </head>
    <body class="home">
        <div class="container">
            <div class="login-page clearfix">
              <div class="logged-in-box auth0-box logged-in">
                <h1 id="logo"><img src="/public/auth0_logo_final_blue_RGB.png" /></h1>
                <img class="avatar" src="{{user.picture}}"/>
                <h2>Welcome List Page{{user.nickname}}</h2>
              </div>
			  <div >
				<form action="http://workspaceitrestserver.herokuapp.com/getpayment" method="POST">
				  <script
					src="https://checkout.stripe.com/checkout.js" class="stripe-button"
					data-key="pk_test_NbTBHGO6gn4LqnxaVcGFJqGT"
					data-amount="2000"
					data-name="Demo Site"
					data-description="2 widgets ($20.00)"
					data-image="/128x128.png"
					data-locale="auto">
				  </script>
				</form>
				
				 <a class="button" href="https://workspacenodeclient.herokuapp.com/" >Back</a> 
			  </div>
			  
			  <div>
				
			
				<table border="1">
					<tr>
					<th> TransId</th>
					<th> SourceName</th>
					<th> SourceId</th>
					<th> Amount</th>
					</tr>
					{% for r in results  %}
					<tr>
						<td>
							{{r.chargeId}}
						</td>
						<td>
							{{r.sourceName}}
						</td>
						<td>
							{{r.sourceID}}
						</td>
						<td>
							{{r.amount}}
						</td>
					</tr>
					{% endfor %}
	
	
					
				</table>
			  </div>
            </div>
        </div>
    </body>
</html>
